
.about {
  margin :40px;
  display: flex;
  justify-content: center;
      flex-wrap: wrap;

}
.all {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

}


.myheadline {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;

   width:100%;
}



.text_about {
   width:100%;
}

.workers {
  display:flex;
  justify-content: center;
  width:20%;
  flex-wrap: wrap;
  margin:30px


}

.foto {
  background-color: black;
  width:200px;
  height:200px;
  border-radius:50%;
}
.title_foto {
  display:flex;
  justify-content: center;
 width :100%;



}
.workers_description {
  display:flex;
  justify-content: center;
 width :100%;
  text-align:center;

}

.requisites {
  display:flex;
  justify-content: center;
  width:100%;
}



@@media screen and (min-width:310px) and (max-width:500px){

	.workers {
		width: 100%;
	}


}
